* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }
  
  a:link {
    color: #26a6f6;
  }

  a:visited {
    color: #26a6f6;
  }
  
  a:hover {
    color: #26a6f6;
  }
  
  a:active {
    color: #26a6f6;
  }
  
  .current-values {
    display: flex;
    width: 100%;
  }
  
  .values-wrapper {
    margin: auto;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 50%;
  }
  
  .chart-title {
    padding: 0;
  }

  .charts-container {
    text-align: center;
    padding-bottom: 3rem;
  }

  .chart-wrapper {
    padding-bottom: 1rem;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  
  /* #tempChart{
    margin: 2rem;
  } */
  
  .values-wrapper .value {
    font-size: 1.8rem;
  }
  
  .station-time {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .value-description {
    font-size: 1rem;
    text-align: center;
  }
  
  .chartjs-chart {
    min-height: 360px;
  }

  .inputs-wrapper {
    margin:1rem;
    position: relative;
  }
  input[type=checkbox] {
  margin-right: 3px;
}

#search-nation {
  border: 1px solid rgb(165, 165, 165);
  padding: 0.3rem;
  margin-bottom: 0.8rem;;
}

#nations-list {
  font-size: 0.8rem;
  max-width: 100%;
  max-height: 100px; /*your fixed height*/
  -webkit-column-count: 3;
      -moz-column-count: 3;
          column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
  overflow: hidden;
  list-style-type: none;
}

.hidden{
  visibility: hidden;
}

.close {
  margin: auto;
  position: absolute;
  /* right: 32px;
  top: 32px; */
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  transition: opacity 0s linear 2s;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 0.75rem;
  content: ' ';
  height: 1.5rem;
  width: 0.15rem;
  background-color: rgb(37, 37, 37);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* Chips */
.chip {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  /* height: 1.6rem; */
  font-size: 0.8rem;
  /* line-height: 10px; */
  border-radius: 10px;
  background-color: #f1f1f1;
}

.closebtn {
  padding-left: 0.3rem;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 0.8rem;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}


  #page-wrapper {
    /* -moz-animation: colorchange 30s ease infinite;
    -o-animation: colorchange 30s ease infinite;
    -webkit-animation: colorchange 30s ease infinite;
    animation: colorchange 30s ease infinite;
    background: linear-gradient(270deg, #73c4f7, #f7ee73, #f7c073, #f77a73);
    background-size: 800% 800%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    width: 100vw;
    max-width: 100%;
  }
  
  #footer {
    background: #dfe8ee;
    border-top: 0.2rem solid black;
    bottom: 0;
    box-sizing: border-box;
    color: black;
    font-size: 2vmin;
    /* height: 2.5rem; */
    padding: 1rem;
    position: absolute;
    width: 100%;
  }
  
  .hidden {
    display: none;
  }
  